@tailwind base;
@tailwind components;
@tailwind utilities;
.fade-in {
  animation: fadeIn 1s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}


